In [1]:
num1 = int(input("enter the number 1:"))
num2 = int(input("enter the number 2:"))
sum = num1+num2
print (sum)

enter the number 1:5
enter the number 2:2
7

In [2]:
side = int(input("enter the side :"))
Area = side*side
print(Area)

enter the side :2
4

In [3]:
num1 = float (input("enter the number 1:"))
num2 = float (input("enter the number 2:"))
Avg=(num1+num2)/2
print(Avg)

enter the number 1:2
enter the number 2:5
3.5

In [5]:
num1 = int(input("enter the number 1:"))
num2 = int(input("enter the number 2:"))
print(num1>=num2)

enter the number 1:2
enter the number 2:5
False

In [8]:
name = input("enter your name:")
age = int(input("enter your age:"))
print ("Hello",name,"!! you are",age,"years old")

enter your name:kimmi
enter your age:18
Hello kimmi !! you are 18 years old

In [10]:
current_age = int(input("enter your age:"))
x=age+5
print("in 5 years you'll be",x,"years old")

enter your age:18
in 5 years you'll be 23 years old

In [11]:
C = int(input("enter the degrees in celsius:"))
F = (C * 9/5)+32
print("The result in farenhiets is",F,)

enter the degrees in celsius:18
The result in farenhiets is 64.4

In [16]:
R = float(input("enter the radius:"))
pi = 3.14
Area = pi * R**2
print("area of circle is",Area,)

enter the radius:2
area of circle is 12.56

In [23]:
Age = int(input("enter the age:"))
if Age >= 18:
  print("you're eligible to vote!!");
else:
    print("you're not eligible.");

enter the age:3
you're not eligible.

In [25]:
number = int(input("enter the number:"))
if number%2==0:
  print("even")
else:
  print("odd")

enter the number:5
odd

In [3]:
name="Harshitha"
peru=input("enter the string:")
if name==peru:
  print("Hey Harshitha!! i love youuu")
else:
  print("string doesn't match with the name")

enter the string:Harshitha
Hey Harshitha!! i love youuu

In [20]:
user_input_value=input("enter anything:")
print(type(user_input_value))

enter anything:kimmi
<class 'str'>

In [23]:
password=(input("enter your password:"))
if password=="python123":
  print("access granted")
else:
  print("access declined")

enter your password:python123
access granted

In [27]:
marks = int(input("enter your marks:"))
if marks>=90:
  print("Yayy!! you passed with Grade A")
elif marks>=70:
  print("you passed with grade B")
elif marks>=50:
  print("you passed with grade C")
else:
  print("you have failed in this exam!!")

enter your marks:98
Yayy!! you passed with Grade A