In [ ]:
num1 = int(input("enter the number 1:"))
num2 = int(input("enter the number 2:"))
sum = num1+num2
print (sum)

enter the number 1:5
enter the number 2:2
7

In [ ]:
side = int(input("enter the side :"))
Area = side*side
print(Area)

enter the side :2
4

In [ ]:
num1 = float (input("enter the number 1:"))
num2 = float (input("enter the number 2:"))
Avg=(num1+num2)/2
print(Avg)

enter the number 1:2
enter the number 2:5
3.5

In [ ]:
num1 = int(input("enter the number 1:"))
num2 = int(input("enter the number 2:"))
print(num1>=num2)

enter the number 1:2
enter the number 2:5
False

In [ ]:
name = input("enter your name:")
age = int(input("enter your age:"))
print ("Hello",name,"!! you are",age,"years old")

enter your name:kimmi
enter your age:18
Hello kimmi !! you are 18 years old

In [ ]:
current_age = int(input("enter your age:"))
x=age+5
print("in 5 years you'll be",x,"years old")

enter your age:18
in 5 years you'll be 23 years old

In [ ]:
C = int(input("enter the degrees in celsius:"))
F = (C * 9/5)+32
print("The result in farenhiets is",F,)

enter the degrees in celsius:18
The result in farenhiets is 64.4

In [ ]:
R = float(input("enter the radius:"))
pi = 3.14
Area = pi * R**2
print("area of circle is",Area,)

enter the radius:2
area of circle is 12.56

In [ ]:
Age = int(input("enter the age:"))
if Age >= 18:
  print("you're eligible to vote!!");
else:
    print("you're not eligible.");

enter the age:3
you're not eligible.

In [ ]:
number = int(input("enter the number:"))
if number%2==0:
  print("even")
else:
  print("odd")

enter the number:5
odd

In [ ]:
name="Harshitha"
peru=input("enter the string:")
if name==peru:
  print("Hey Harshitha!! i love youuu")
else:
  print("string doesn't match with the name")

enter the string:Harshitha
Hey Harshitha!! i love youuu

In [ ]:
user_input_value=input("enter anything:")
print(type(user_input_value))

enter anything:kimmi
<class 'str'>

In [ ]:
password=(input("enter your password:"))
if password=="python123":
  print("access granted")
else:
  print("access declined")

enter your password:python123
access granted

In [ ]:
marks = int(input("enter your marks:"))
if marks>=90:
  print("Yayy!! you passed with Grade A")
elif marks>=70:
  print("you passed with grade B")
elif marks>=50:
  print("you passed with grade C")
else:
  print("you have failed in this exam!!")

enter your marks:98
Yayy!! you passed with Grade A

In [ ]:
name=input("enter the name:")
print(len(name))

enter the name:kimmi
5

In [ ]:
str=" i am a gold $digger $ of $29.99 dollars $"
print(str.count("$"))

4

In [ ]:
num=int(input("enter a number:"))
if num%2==0:
  print("EVEN")
else:
  print("odd")

enter a number:5
odd

In [ ]:
num1=int(input("enter the number1:"))
num2=int(input("enter the number2:"))
num3=int(input("enter the number3:"))
if(num1>=num2 & num1>num3):
  print("num1 is the largest",num1)
elif(num2>num3):
  print("num2 is the largest",num2)
else:
  print("num3 is the largest",num3)

enter the number1:2
enter the number2:8
enter the number3:5
num2 is the largest 8

In [ ]:
num=int(input("enter the number:"))
if(num%7==0):
  print("is a multiple")
else:
  print("not a multiple")

enter the number:5
not a multiple

In [ ]:
str=input("enter a string:")
palindrome=str[::-1]
if(palindrome==str):
  print("its a palindrome")
else:
  print("no,its not a palindrome")

enter a string:madam
no,its not a palindrome

In [ ]:
str=input("enter a string:")
vowels="aeiouAEIOU"
count=0
for char in str:
  if char in vowels:
    count +=1
print("number of vowels in string is ",count)

enter a string:i am a good girl
number of vowels in string is  6

In [ ]:
str=input("enter a string:")
words=str.split()
print("the frequency in string is",len(words))

enter a string:kimmi is a good girl
the frequency in string is 5

In [ ]:
str=input("enter a string:")
print(str.swapcase())

enter a string:Kimmi
kIMMI

In [ ]:
str=input("enter a string:")
words=str.split()
print(len(words))

enter a string:i am a good girl
5

In [ ]:
sentence = input("Enter a sentence: ")
words = sentence.split()
longest = max(words, key=len)
print("Longest word:", longest)

Enter a sentence: harshitha is also known as kimmi
Longest word: harshitha

In [ ]:
import string

password = input("Enter your password: ")

has_digit = any(char.isdigit() for char in password)
has_upper = any(char.isupper() for char in password)
has_lower = any(char.islower() for char in password)
has_special = any(char in string.punctuation for char in password)

if len(password) >= 8 and has_digit and has_upper and has_lower and has_special:
    print("Strong password ✅")
else:
    print("Weak password ❌")

Enter your password: Kimmi@2005
Strong password ✅

In [ ]:
text = input("Enter a string: ")
result = ""

for char in text:
    if char not in result:
        result += char

print("Without duplicates:", result)

Enter a string: kimmi
Without duplicates: kim

In [ ]:
str1 = input("Enter first string: ").replace(" ", "").lower()
str2 = input("Enter second string: ").replace(" ", "").lower()

if sorted(str1) == sorted(str2):
    print("Yes, they're anagrams ✅")
else:
    print("No, they're not anagrams ❌")

Enter first string: silent
Enter second string: listen
Yes, they're anagrams ✅

In [ ]:
text = input("Enter a string: ")
start = int(input("Enter start index: "))
end = int(input("Enter end index: "))

if 0 <= start < len(text) and 0 < end <= len(text) and start < end:
    print("Substring:", text[start:end])
else:
    print("Invalid indexes ❌")

Enter a string: ha
Enter start index: 0
Enter end index: 3
Invalid indexes ❌

In [ ]:
movies=[]
movies.append(input("enter fav movie1:"))
movies.append(input("enter fav movie2:"))
movies.append(input("enter fav movie2:"))
print(movies)

enter fav movie1:RRR
enter fav movie2:aravinda sametha
enter fav movie2:devara
['RRR', 'aravinda sametha', 'devara']

In [ ]:
list =["1","2","1"]
copy_list=list.copy()
if(copy_list == list):
  print("its a palindrome")
else:
  print("its not a palindrome")

its a palindrome

In [ ]:
tup = ("A","B","A","A","B","C","D")
print(tup.count("A"))

3

In [ ]:
list=["A","B","A","A","B","C","D"]
list.sort()
print(list)

['A', 'A', 'A', 'B', 'B', 'C', 'D']

In [ ]:
foods=["biryani","chicken","sambar","neyyi","pappu"]
print(foods[2:len(foods)])

['sambar', 'neyyi', 'pappu']

In [ ]:
foods=["biryani","chicken","sambar","neyyi","pappu"]
foods.append("ice cream")
foods.insert(1,"soup")
print(foods)

['biryani', 'soup', 'chicken', 'sambar', 'neyyi', 'pappu', 'ice cream']

In [ ]:
foods=['biryani', 'soup', 'chicken', 'sambar', 'neyyi', 'pappu', 'ice cream']
foods.remove("soup")
print(foods)

['biryani', 'chicken', 'sambar', 'neyyi', 'pappu', 'ice cream']

In [ ]:
list = [1, 3, 5, 3, 7, 3]
print(list.count(3))

3

In [ ]:
list = [1, 3, 5, 3, 7, 3]
updated_list=list[::-1]
print(updated_list)

[3, 7, 3, 5, 3, 1]

In [ ]:
list = ["biryani","food","gandu","icecream","pizza"]
item = "pizza"
if item in list:
  print("its  in list")

its  in list

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

merged_list = list1 + list2
merged_list.sort()

print("Merged and Sorted List:", merged_list)

Merged and Sorted List: [1, 2, 3, 4, 5, 6]

In [ ]:
original_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = []

for item in original_list:
    if item not in unique_list:
        unique_list.append(item)

print("List without duplicates:", unique_list)

List without duplicates: [1, 2, 3, 4, 5]

In [ ]:
numbers = [10, 3, 25, 6, 1, 89, 34]

largest = numbers[0]
smallest = numbers[0]

for num in numbers:
    if num > largest:
        largest = num
    if num < smallest:
        smallest = num

print("Largest number:", largest)
print("Smallest number:", smallest)

Largest number: 89
Smallest number: 1

In [4]:
collection = {
    "table" : ("a piece of furniture","list of facts & figures"),
    "cat": "a small animal"
}
print(collection)

{'table': ('a piece of furniture', 'list of facts & figures'), 'cat': 'a small animal'}

In [5]:
subjects = {
    "java","python","c++","python","java","c++","python","javascript","c",
}
print(subjects)
print(len(subjects))

{'c++', 'python', 'javascript', 'c', 'java'}
5

In [10]:
marks_dict = {}
marks_dict["maths"] = 98
marks_dict.update()
marks_dict["phy"] = 94
marks_dict.update()
marks_dict["chem"] = 95
marks_dict.update()

print(marks_dict)

{'maths': 98, 'phy': 94, 'chem': 95}

In [13]:
even_num ={2,4,6,8,10}
print(even_num)
even_num.add(12)
print(even_num)

{2, 4, 6, 8, 10}
{2, 4, 6, 8, 10, 12}

In [16]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

In [21]:
main_set ={1,2,3,4}
sub_set ={2,3,4,5}
if sub_set.issubset(main_set):
  print("yes it is")
else:
  print("no its not")

no its not

In [22]:
nums ={2,3,4,5,6}
nums.remove(5)
print(nums)

{2, 3, 4, 6}

In [23]:
nums={1,2,3,4}
nums.add([1,2])
print(nums)

TypeError: unhashable type: 'list'

so yes it gives error because we cant add lists and dictonaries to the sets coz they're mutable and set is an immutable where you add or remove the element but we cant change the element

In [33]:
marks = {
    "Math": 90,
    "Science": 85,
    "English": 88,
}
print(marks["Science"])
marks["Math"] = 95
marks.update()
print(marks)

85
{'Math': 95, 'Science': 85, 'English': 88}

In [39]:
marks = {
    "Math": 90,
    "Science": 85,
    "English": 88,
    "History": 85,
}
if "History" in (marks):
  print("yes")
else:
  marks["History"]=85
  marks.update()
  print(marks)

yes

In [36]:
my_dict = {
    "name": "Harshitha",
    "age": 19,
    "college": "Amity university",
    "course": "B.Tech"
}

for key, value in my_dict.items():
    print(f"{key}: {value}")

name: Harshitha
age: 19
college: Amity university
course: B.Tech

In [43]:
students = {
    "Aman": 78,
    "Riya": 88,
    "Karan": 92
}
print(max(students.values()))

92